[global]
[[global.environment]]
name = 'EVENTS_BASE_URL'
value = 'https://reshared.org/api/events'

[[global.environment]]
name = 'ACTION_BASE_URL'
value = 'https://reshared.org/api/actions'

[hasura]
version = 'v2.25.1-ce'
adminSecret = '{{ secrets.NHOST_ADMIN_SECRET }}'
webhookSecret = '{{ secrets.NHOST_WEBHOOK_SECRET }}'

[[hasura.jwtSecrets]]
type = 'HS256'
key = '{{ secrets.NHOST_JWT_SECRET }}'

[hasura.settings]
corsDomain = ['*']
devMode = true
enableAllowList = false
enableConsole = true
enableRemoteSchemaPermissions = false
enabledAPIs = ['metadata', 'graphql', 'pgdump', 'config']

[hasura.logs]
level = 'warn'

[hasura.events]
httpPoolSize = 100

[functions]
[functions.node]
version = 16

[auth]
version = '0.20.1'

[auth.redirections]
clientUrl = 'https://reshared.org'

[auth.signUp]
enabled = true

[auth.user]
[auth.user.roles]
default = 'user'
allowed = ['user', 'me']

[auth.user.locale]
default = 'en'
allowed = ['en']

[auth.user.gravatar]
enabled = true
default = 'blank'
rating = 'g'

[auth.user.email]

[auth.user.emailDomains]

[auth.session]
[auth.session.accessToken]
expiresIn = 900

[auth.session.refreshToken]
expiresIn = 43200

[auth.method]
[auth.method.anonymous]
enabled = false

[auth.method.emailPasswordless]
enabled = true

[auth.method.emailPassword]
hibpEnabled = false
emailVerificationRequired = false
passwordMinLength = 8

[auth.method.smsPasswordless]
enabled = false

[auth.method.oauth]
[auth.method.oauth.apple]
enabled = false

[auth.method.oauth.azuread]
tenant = 'common'
enabled = false

[auth.method.oauth.bitbucket]
enabled = false

[auth.method.oauth.discord]
enabled = false

[auth.method.oauth.facebook]
enabled = true
clientId = '{{ secrets.OAUTH_FACEBOOK_CLIENT_ID }}'
scope = ['email']
clientSecret = '{{ secrets.OAUTH_FACEBOOK_SECRET }}'

[auth.method.oauth.github]
enabled = false

[auth.method.oauth.gitlab]
enabled = false

[auth.method.oauth.google]
enabled = false

[auth.method.oauth.linkedin]
enabled = false

[auth.method.oauth.spotify]
enabled = false

[auth.method.oauth.strava]
enabled = false

[auth.method.oauth.twitch]
enabled = false

[auth.method.oauth.twitter]
enabled = false

[auth.method.oauth.windowslive]
enabled = false

[auth.method.oauth.workos]
enabled = false

[auth.method.webauthn]
enabled = false

[auth.method.webauthn.relyingParty]
name = 'reshared-prod'

[auth.method.webauthn.attestation]
timeout = 0

[auth.totp]
enabled = false
issuer = 'nhost'

[postgres]
version = '14.5-20221009-1'

[provider]
[provider.smtp]
user = '{{ secrets.SMTP_USER }}'
password = '{{ secrets.SMTP_PASSWORD }}'
sender = 'noreply@reshared.org'
host = '{{ secrets.SMTP_HOST }}'
port = 2525
secure = false
method = 'CRAM-MD5'

[storage]
version = '0.3.5'

[observability]
[observability.grafana]
adminPassword = '{{ secrets.GRAFANA_ADMIN_PASSWORD }}'
