name: E2E tests

run-name: test and deploy

on: [push]

env:
  NEXT_PUBLIC_NHOST_BACKEND_URL: http://localhost:1337
  NEXT_PUBLIC_NHOST_BACKEND_HOST: localhost
  NEXT_PUBLIC_GRAPHQL_ENDPOINT: http://localhost:1337/v1/graphql
  NEXT_PUBLIC_GRAPHQL_ENDPOINT_WS: ws://localhost:1337/v1/graphql
  NEXT_PUBLIC_ROOT_URL: http://localhost:3000
  NHOST_JWT_SECRET: '{"type":"HS256", "key": "0f987876650b4a085e64594fae9219e7781b17506bec02489ad061fba8cb22db"}'
  NHOST_WEBHOOK_SECRET: nhost-webhook-secret
  NHOST_ADMIN_SECRET: nhost-admin-secret
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_ORG: ${{ secrets.SENTRY_ORG }}

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install sudo (for act)
        if: ${{ env.ACT }}
        run: apt update && apt install sudo

      - name: set up node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: install cypress deps
        run: sudo DEBIAN_FRONTEND=noninteractive apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb

      - name: install yarn
        run: npm install --global yarn

      - name: install nhost
        run: sudo curl -L https://raw.githubusercontent.com/nhost/cli/main/get.sh | bash

      - name: install client deps
        run: yarn install --prefer-offline

      - name: install hasura cli
        run: curl -L https://github.com/hasura/graphql-engine/raw/stable/cli/get.sh | bash

      - name: build client
        run: yarn build

      - name: start client
        run: yarn start & npx --yes wait-on http-get://localhost:3000

      - name: create .env for nhost
        run: |
          touch .env.development
          echo "EVENTS_BASE_URL=http://172.17.0.1:3000/api/events" >> .env.development
          echo "ACTION_BASE_URL=http://172.17.0.1:3000/api/actions" >> .env.development
        working-directory: ./nhost

      - name: start backend
        run: nhost dev --no-browser --hasuracli hasura & npx --yes wait-on http-get://localhost:9695
        working-directory: ./nhost

      - name: run cypress tests
        run: yarn run cypress-run

      - name: archive cypress videos
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-videos
          path: ./cypress/videos
          retention-days: 1

  deploy-dev:
    runs-on: ubuntu-latest
    needs: test-e2e
    if: github.ref == 'refs/heads/dev'
    steps:
      - uses: actions/checkout@v3
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy to Vercel
        run: vercel deploy --token=${{ secrets.VERCEL_TOKEN }}

  deploy-production:
    runs-on: ubuntu-latest
    needs: test-e2e
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy to Vercel
        run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}
